.verticalAccordion {
    li input[type="checkbox"]:checked~section {
        transition: height 2s ease;
    }

    ul {
        list-style: none;

        li {
            input {
                display: none;
            }

            label {
                display: block;
                float: left;
                overflow: hidden;
                cursor: pointer;
                width: 100%;
            }

            input:where([type="checkbox"], [type="radio"]):checked~label>* {
                font-weight: bold;
                border-bottom: 1px solid #000;
                .arrowRotate {
                    transform: rotate(180deg);
                }
            }

            input:where([type="checkbox"], [type="radio"]):not(:checked)~label>* {
                white-space: nowrap;
            }

            input:where([type="checkbox"], [type="radio"])~section {
                border: 1px solid #000000;
            }

            section {
                display: block;
                height: 0px;
                padding: 0;
                float: left;
                overflow: hidden;
                position: relative;
                border: none;
                transition: height 0.5s ease;
            }
        }

        li input:where([type="checkbox"], [type="radio"]):checked~section {
            height: auto;
        }
    }

}